<div class="col-md-6 col-lg-4 pl-0 ml-0">
  <div class="package-list-item clearfix pl-15">
      <div class="image">
        <%= link_to image_tag(book.content), book_path(book) %>
        <div class="absolute-in-image">
        </div>
      </div>
      <div class="content">
        <div class="row gap-10">
          <div class="col-sm-12 col-md-12">
            <h5><%= book.title %></h5>
            <p class="line18"><%= book.description%></p>
          </div>
          <div class="col-sm-12 col-md-12 text-left-sm">
            <div class="price"><%= book.price %></div>
          </div>
        </div>
      </div>
  </div>
</div>
